<Layouts.app flash={@flash}>
  <.header>
    Edit Monster {@monster.id}
    <:subtitle>Use this form to manage monster records in your database.</:subtitle>
  </.header>

  <.monster_form changeset={@changeset} action={~p"/admin/monsters/#{@monster}"} return_to={~p"/admin/monsters"} />
</Layouts.app>
